@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}
a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
button:hover {
    cursor: pointer;
}
body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.businesses-header {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 35px;
}
.fixed-header {
    display: flex;
}
/* a.smart-logo img {
    color: #fff;
} */
.fixed-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 50px 12px 50px;
   
}
.wrapper-header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.big-logo {
    width: 150px;
    padding-right: 20px;
}
.big-logo img {
    width: 100%;
}
.navigation-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: .87rem;
}
.navigation-left a {
    padding: 10px;
}
.wrapper-header-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 32px;
}
.wrapper-header-right a {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    height: 100%;
    font-size: .75rem;
}
.wrapper-header-right a img {
    height: 100%;
    padding-right: 10px;
}
.covid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 240, 240);
    font-size: 1.2rem;
}
.covid a {
    padding: 0 5px;
    color: red;
}
section-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fff;
}
.section-1-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 140px;
}
h2 {
    width: 100%;
    font-size: 2.3rem;
    letter-spacing: 2px;
    font-weight: 400;
    color: red;
    text-align: center;
    line-height: 3.5rem;
}
section-1 h2 {
    line-height: 3.5rem;
}
.far {
    font-size: 28px;
}
.section-1-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.section-1-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 47%;
    padding-right: 40px;
    padding-left: 20px;
}
h2.fiber {
    color: black;
}
.fas {
    padding: 17px 4px;
    color: red;
}
.section-1-left,
.section-2-right,
.section-4-main,
.nba_league_pass,
.section-9-main-1,
.section-10-right p {
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 1.3px;
    text-align: center;
}
.section-1-btn {
    padding-top: 30px;
}
.btn, .btn1 {
    padding: 12px 25px;
    border: red 2px solid;
    border-radius: 25px;
    font-size: .9rem;
    font-weight: 300; 
    margin: 3px;  
}
.all-plans {
    background-color: red;
    color: #fff;
}
.upgrade-plan {
    background-color: transparent;
    color: red;
}
.section-1-right {
    background-image: url(images/fibr-tv.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 53%;
    min-height: 500px;
}
section-2,
section-10 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.section-2-left {
    background-image: url(images/img-unli-vday.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 55%;
    min-height: 500px;
}
.section-2-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding-right: 20px;
    padding-left: 40px;
}
.section-2-right h2 {
    font-size: 2.3rem;
    letter-spacing: 2px;
    font-weight: 400;
    color: red;
    text-align: center;
    line-height: 3.5rem;
}
.section-2-btn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.section-2-btn-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}
.section-2-btn-down {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-2-btn-down .recommend-plan {
    background-color: black;
    color: #fff;
    border-color: black;
}
section-3 {
    display: flex;
    width: 100%;
}
.section-3-right {
    background-image: url(images/img-home.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 53%;
    min-height: 500px;
}
section-4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 50px 0;
    margin: 0 auto;
    background-image: url(images/valentines-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
   
}
.section-4-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 0;
}
.section-4-main h2 {
    padding: 20px 0;
}
button.btn1.active {
    background-color: red;
    color:#fff;
}
button.btn1 {
    background-color: transparent;
}
.nba-league {
    width: 100%;
    height: 700px;
    background-image: url(images/nba-league-pass.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nba_league_pass {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    justify-items: center;
    text-align: center;
    max-width: 350px;
    height: 610px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    transform: translate(15%, 5%);
}
.nba_league_pass img {
    width: 100%;
    padding-bottom: 30px;
}
button.nba-btn {
    width: 150px;
    background-color: red;
    color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
section-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
}

.bg-video-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url(images/valentines-bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}
section-8 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.section-8-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    padding-top: 30px;
}
.btn8 {
    padding: 12px 15px;
    border: red 2px solid;
    border-radius: 25px;
    font-size: .9rem;
    font-weight: 300; 
    margin: 3px; 
    width: 150px; 
}
.section-8-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-8-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    margin: 0 auto;
}
.section-8-1a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 280px;
    margin: 5px;
}
.section-8-1a img {
    width: 100%;
}
.section-8-1a a {
    width: 80%;
    text-decoration: none;
    text-align: center;
    color: black;
}
.section-8-1a a {
    width: 80%;
    text-decoration: none;
    text-align: center;
    color: black;
    padding-top: 10px;
    font-size: .85rem;
    letter-spacing: .4px;
}
.section-8-1a1  a{
    width: 90%;
}
.section-9 {
    padding: 50px 0;
    margin: 0 auto;
}
.section-9-title {
    text-align: center;
    background-color: rgb(178, 238, 173);
}
.section-9-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(178, 238, 173);

}
.section-9-main-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 30%;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
}
.section-9-main-1 img {
    width: 120px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.section-9-main-1 p .section-9-title {
    font-weight: 400;
    padding-bottom: 5px;
}
.btn9 {
    display: flex;
    justify-content: center;
    padding: 12px 15px;
    border: red 2px solid;
    border-radius: 25px;
    font-size: .9rem;
    font-weight: 300; 
    margin: 0 auto;
    width: 250px; 
    color: #fff;
    background-color: red;
    text-align: center;
    margin-top: 20px;
}
.section-10-left {
    background-image: url(images/app-demo-desktop.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    min-height: 500px;
}
.section-10-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding-right: 20px;
    padding-left: 40px;
}
.section-10-right h2 {
    font-size: 2.3rem;
    letter-spacing: 2px;
    font-weight: 400;
    color: rgb(20, 19, 19);
    line-height: 3.5rem;
    padding-bottom: 10px;
    text-align: left;
}
.section-10-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.section-10-btn a {
    display: flex;
    padding: 10px;
}

.section-11 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(49, 46, 46);
    width: 100%;
    height: 120px;
    padding: 20px;
}
.foot-a {
    padding: 5px;
    color: rgb(161, 148, 148); 
    font-size: .75rem;
    font-weight: 300;
    letter-spacing: .4px;
}
.foot-a:hover {
    color: red;
}
.social-media-pldt {
    display: flex;
    flex-wrap: unwrap;
    justify-content: right;
    color: rgb(227, 241, 241);
}
.pldt-copyright {
    color: #fff;
    font-size: .8rem;
}
.fab {
    padding: 3px 5px;
    font-size: 25px;
    color: #fff;
}
.heart {
    display: flex;
    flex-direction: column;
}

.big-heart {
    font-size: 70px;
    position: relative;
}
.fa-wifi {
    font-size: 25px;
    color: rgb(246, 244, 250);
    position: absolute;
    top: 20px;
    left: 19px;
}
.fa-share-square {
    font-size: 25px;
    color: rgb(246, 244, 250);
    position: absolute;
    top: 37px;
    left: 27px;
}
.fa-calendar-alt {
    font-size: 25px;
    color: rgb(246, 244, 250);
    position: absolute;
    top: 37px;
    left: 28px;
}